{
	"presets": [
        "react", 
        "flow", 
        ["env", {
            "targets": {
                "browsers": ["last 5 versions"]
            }
        }]
    ],
	"plugins": [
		"transform-runtime",
        "transform-flow-comments"
	]	
}
